
#blog h2 {
    text-align: center;
    font-family: monospace;
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
}

#blog .contenedor img{
    width: 250px;
    height: 250px;
    border: solid 8px tomato;
    border-radius: 15px;
}

#blog article{
    margin: 50px;
}

#blog article a{
    text-align: center;
    font-family: monospace;
    display: flex;
    text-decoration: none;
    justify-content: center;
    font-size: 15px;
    color: black;
}

#blog article h4{
    text-align: center;
    font-family: monospace;
    justify-content: center;
    font-size: 15px;
}