#historia{
    font-family: monospace;
    text-align: center;
    margin: 20px 0px;
    font-size: 20px;
    border: 5px solid rgb(194, 59, 59);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

#historia-shohoku h2{
    margin: 10px;
    padding: 10px;
}

#historia-shohoku{
    width: auto;
    margin: 20px;
    align-items: center;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    border: 5px solid rgb(194, 59, 59);
    border-radius: 15px;
    padding: 20px;
}

#historia img{
    margin: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

