
#info{
    background: rgb(194, 59, 59);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: monospace;
}

#info .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-jugadores img{
    width: 180;
    height: 180; 
    border: solid 7px black;
    border-radius: 70px;
}

.info-jugadores img:hover{
    box-shadow: 0px 0px 10px 10px white;
    transition: 0.5s;
    filter: blur(1px);
    filter: grayscale(95%);

}

.info-jugadores{
    margin: 20px;
}

.contenedor-kainan{
    background: rgb(194, 59, 59);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}    

.contenedor-kainan .info-jugadores img{
    width: 130px;
    height: 130px;
    border-radius: 100px;
}

.contenedor-entrenadores{
    background: rgb(194, 59, 59);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor-entrenadores .info-jugadores img{
    width: 130px;
    height: 130px;
    border-radius: 100px;
}
