*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(8, 1, 1);
}

header {
    width: auto;
    height: 100px;
    background-color: #e72424;
    display: flex;
    align-items: center;
}

#contenedor-logo-principal > img {
    width: 180px;
    margin-left: 20px;
    border-radius: 30px;
}

#contenedor-logo-principal {
    display: flex;
    align-items: center;
}

#contenedor-logo-principal > nav{
    display: flex;
    align-items: center;
}

header > div {
    width: 50%;
}

a   {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    font-style: inherit;
    font-family: monospace;
    font-size: 15px;
}

nav > ul > li {
    display: inline-block;
    margin-left: 10px;
}

nav > ul {
    margin-right: 30px;
}

#imagen-body{
    
    display: flex;
    margin: 100px;
    justify-content: center;
    align-items: center;
    
}

#historia{
    text-align: center;
    color: white;
    justify-content: center;
    width: auto;
    padding: 50px;
    font-family: monospace;
    font-size: 60px;
    justify-content: center;
}

#contenido-historia{
    text-align: center;
    color: white;
    justify-content: center;
    width: auto;
    padding: 50px;
    font-family: monospace;
    font-size: 20px;
    justify-content: center;
}

#pie-pagina{
    width: auto;
    color: white;
    display: flex;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}